.movies {
    background-color: #000;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: -16px -10px;
        
    }
    &__card {
        width: calc(100% / 4 - 20px);
        height: 400px;
        margin: 16px 10px;
        overflow: hidden;

        
        &__img {
            width: 100%;
        }
        .card__text {
            display: flex;
            flex-direction: column;
            transform: translateY(-100px);
            
            height: 400px;
            padding: 16px;
            
            
            background-color: #fff;
        }

    }
}