main {
    background: #F7F7F7;
}
.movies {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: -16px -10px;
        
    }
    &__card {
        width: calc(100% / 4 - 20px);
        height: 400px;
        margin: 16px 10px;
        overflow: hidden;
        
        transition: transform 250ms ease;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 0 cover 25%;

        &:hover {
            box-shadow: 
            0px 2px 2px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
            transform: scale(101%);
            cursor: pointer;
        }

        &:hover .card__text,
        .card__text:hover {
            transform: translateY(-100%);
        }
        
        &__img {
            display: block;

            width: 100%;
            height: 400px;
        }
        .card__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 400px;
            transition: transform 250ms ease;
        }
        .card__name {
            padding: 16px;
            border-radius: 8px 8px 0 0;
            background-color: #fff;
        }
    }
}
.sort {
    width: 1120px;
    height: 80px;
    margin: 0 auto;
    &__list {
        display: flex;
        justify-content: space-between;
        
        width: 10%5;
    }
    &__elem {
        text-align: center;

        
        :hover {
            border: 2px solid #000;
            transform: scale(105%);
            cursor: pointer;
        }
    }
    &__button {
        width: 200px;
        padding: 12px 16px;
        border-radius: 8px;
        
        background-color: var(--main-orange);
        color: #fff;
        font-size: 20px;

        transition: transform 250ms ease,
                    border 250ms ease;

        &-curr {
            color: #000;
        }
    }
}
.pagination {
    width: 380px;
    margin: 0 auto;

    &__list {
        display: flex;
        justify-content: space-between;

        transition: transform 250ms ease;

        :hover  .pagination__button{
            border: none;
            background-color: var(--main-orange);
            color: #fff;

            transform: scale(1.2);

            cursor: pointer;
        }
    }
    &__button {
        width: 40px;
        height: 40px;
        border: 2px solid #000;
        border-radius: 8px;

        transition: transform 250ms ease,
                    border 250ms ease,
                    background-color 250ms ease;

        &-curr {
            border: 2px solid var(--main-orange);
            color: var(--main-orange);
        }
    }

}
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;

    &__window {
        display: flex;

        width: 800px;
        height: 520px;
        padding: 40px;
        border-radius: 8px;

        background-color: #fff;

        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
    &__img {
        margin-right: 40px;
    }
    &__info {
        display: flex;
        flex-direction: column;

        overflow: auto;
    }
    &__title {
        margin-bottom: 40px;
        font-size: 36px;
    }
    &__text {
        margin-bottom: 8px;
        font-size: 16px;
    }
    &__value {
        font-weight: bold;
    }
}
.openModal {
    display: block;
}
.closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
}