@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
}

:root {
  --main-orange: #FF6B01;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

ol, ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

img {
  display: block;
}

header {
  border-bottom: 1px solid black;
  background-color: #000;
  color: #FFF;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  font-size: 28px;
}
header .logo__img {
  width: 48px;
}
header .header__search {
  border-bottom: 1px solid #fff;
}
header .header__search__input {
  width: 240px;
  font-size: 16px;
}
header .header__nav__list {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-size: 16px;
}

main {
  background: #F7F7F7;
}

.movies__list {
  display: flex;
  flex-wrap: wrap;
  margin: -16px -10px;
}
.movies__card {
  width: calc(25% - 20px);
  height: 400px;
  margin: 16px 10px;
  overflow: hidden;
  transition: transform 250ms ease;
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}
.movies__card:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(101%);
  cursor: pointer;
}
.movies__card:hover .card__text,
.movies__card .card__text:hover {
  transform: translateY(-100%);
}
.movies__card__img {
  display: block;
  width: 100%;
  height: 400px;
}
.movies__card .card__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  transition: transform 250ms ease;
}
.movies__card .card__name {
  padding: 16px;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
}

.sort {
  height: 80px;
}
.sort__list {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.sort__elem {
  text-align: center;
}
.sort__elem:not(:last-child) {
  margin-right: 30px;
}
.sort__button {
  width: 200px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--main-orange);
  color: #fff;
  font-size: 20px;
  transition: transform 250ms ease, border 250ms ease;
}
.sort__button-curr {
  color: #000;
}
.sort__button:hover {
  border: 2px solid #000;
  transform: scale(105%);
  cursor: pointer;
}

.pagination {
  width: 380px;
  margin: 0 auto;
}
.pagination__list {
  display: flex;
  justify-content: space-between;
  transition: transform 250ms ease;
}
.pagination__button {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 8px;
  transition: transform 250ms ease, border 250ms ease, background-color 250ms ease;
}
.pagination__button-curr {
  border: 2px solid var(--main-orange);
  color: var(--main-orange);
}
.pagination__button:hover {
  border: none;
  background-color: var(--main-orange);
  color: #fff;
  transform: scale(1.2);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.modal__window {
  display: flex;
  width: 800px;
  max-height: 600px;
  padding: 40px;
  border-radius: 8px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.modal__status {
  margin-right: 40px;
}
.modal__img {
  margin-bottom: 20px;
}
.modal__form {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 40px;
}
.modal__btn {
  width: 140px;
  padding: 8px 0;
  border-radius: 8px;
  background-color: var(--main-orange);
  color: #fff;
  transition: transform 250ms ease, border 250ms ease;
}
.modal__btn-curr {
  border: none;
  color: #000;
}
.modal__btn:hover {
  border: 2px solid #000;
  transform: scale(105%);
  cursor: pointer;
}
.modal__info {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.modal__title {
  margin-bottom: 40px;
  font-size: 36px;
}
.modal__text {
  margin-bottom: 8px;
  font-size: 16px;
}
.modal__value {
  font-weight: bold;
}

.openModal {
  display: block;
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
}
.closeModal:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */